<template>
<div class="loginPanel">
	<div class="form">
		<label>Email</label>
		<input type="text" name="username"/>
		<label>Password</label>
		<input type="password" name="password"/>
		<button class="button greenButton fullWidth" type="button" @click="login">Login</button>
	</div>
</div>
</template>
<script>
	
	export default {
		methods:{
			async login(){
				
				const ip = await this.$axios.$post('https://api.misitioba.com/rpc/test',{
					name:'foo'
				})
    			console.log('click',ip)
			}
		}
	}

</script>
<style lang="scss">
	label{
		font-family:GT Eesti Display, "Helvetica Neue", Helvetica, sans-serif;
		color: rgb(100, 122, 147);
		font-size:12px;
	}
	button{
		padding: 0px 15px;
		background: #45B271;
		color: white;
		border-radius: 2px;
	}
</style>